* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    }
    
    
    .second-layout{
        display: grid;
        grid-template-columns: minmax(100px, 300px) 1fr minmax(100px, 300px)
        grid-template-rows: auto auto 1fr auto;
    background-color: lightcyan;
    min-height: 100vh;
    padding: 1rem;
    
    
    
    
    }
    
    
   header,footer{
    grid-column: 1 / 4;
    
    }
aside{
grid-row: 2/4;
    
}

    header,
    footer,
    main,
    aside,
    nav {
    
    }